.hidden{
    display: none!important;
}
.regist_r{
    display: block;
    position: fixed;
    top:10%;
    left:10%;
    width: 80%;
    height: 80%;
    z-index: 1000;
}
.register_input {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: solid gray 1px;
}
.sending{text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: brown;
    display: inline-block;
    margin-left: 43%;
    color: white;
    font-size: 10px;}
.wrong_input{
    color: red;
    font-size: 10px;
    margin-top: -15px;
    margin-left: 16px;
}